<body>
    <img class="fondo" src="https://cdn.discordapp.com/attachments/636354175944359949/781663515303477248/bcp.jpg">
    <div class="login-box">
        <div class="container-login">
            <div class="login-username">
                <span>Usuario</span>
                <input type="text" placeholder="Usuario" name="usuario" id="usuario" autocomplete="off">
            </div>
            <div class="login-password">
                <span>Contraseña</span>
                <input type="text" placeholder="Contraseña" name="contrasena" id="contrasena" autocomplete="off">
            </div>
        </div>
        <div class = "boton" routerLink = "/home/1">
            <span>INGRESAR</span>
        </div>
    </div>
</body>